html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0f172a, #020617);
  color: white;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  position: sticky;
  top: 0;
  background: rgba(30, 41, 59, 0.7);
  backdrop-filter: blur(10px);
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  cursor: pointer;
}

nav a:hover {
  color: #38bdf8;
}

/* Sections */
section {
  padding: 80px 20px;
  text-align: center;
}

/* Hero */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero span {
  color: #38bdf8;
}

/* Button */
.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #38bdf8;
  border-radius: 25px;
  text-decoration: none;
  color: black;
  margin-top: 10px;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

/* Cards */
.card {
  background: rgba(30, 41, 59, 0.8);
  padding: 20px;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* List */
ul {
  list-style: none;
  padding: 0;
}

/* Animation */
.fade {
  opacity: 0;
  transform: translateY(20px);
  transition: 1s;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}

/* Responsive */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
